* {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
}

header {
  height: 90px;
  background-color: rgb(236, 252, 255);
}

.top-picture {
  width: 100%;
  margin-top: 0px;
  margin-left: 0px;
}

.layout-header {
  display: flex;
  justify-content: space-between;
}
.header-menu ul {
  display: flex;
  margin-right: 30px;
  list-style: none;
}

.home-main li {
  margin: 30px;
}

.header-menu ul li {
  padding: 0.5em 1em;
  margin: 30px;
  font-size: 20px;
}

article h2 {
  margin-top: 100px;
}

a {
  color: inherit;
  text-decoration: none;
}

.list-item a:hover {
  color: rgb(143, 17, 201);
}

.list-item {
  position: relative;
}

.list-item:after {
  position: absolute;
  bottom: 8px;
  left: 50%;
  display: block;
  width: 0%;
  font-size: 20px;
  content: "";
  border-bottom: 3px solid brown;
  transition: 0.2s;
}

.list-item:hover:after {
  width: 40%;
}

.list-item::before {
  position: absolute;
  right: 50%;
  bottom: 8px;
  display: block;
  width: 0%;
  content: "";
  border-bottom: 3px solid brown;
  transition: 0.2s;
}

.list-item:hover:before {
  width: 40%;
}

.home-main h2 {
  margin-left: 60px;
  font-size: 35px;
}

.home-main ul {
  display: flex;
  margin-left: 30px;
  list-style: none;
}

article img {
  display: 
  margin: 40px;
  text-align: center;
}

.item-W,
.item-G,
.item-I {
  display: block;
  width: 30%;
  border: 1px solid white;
}

.item-W img,
.item-G img,
.item-I img {
  cursor: pointer;
}

.item-W img:hover,
.item-G img:hover,
.item-I img:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  transform: translateY(-10px);
}
