html,
body {
  margin: 0px;
}

header {
  height: 90px;
  background-color: rgb(236, 252, 255);
}

.layout-header {
  display: flex;
  justify-content: space-between;
}
.header-menu ul {
  display: flex;
  margin-top: 10px;
  margin-right: 30px;
  list-style: none;
}

.header-menu ul li {
  padding: 0.5em 1em;
  margin: 40px;
}

.layout-main h2 {
  margin-left: 30px;
  font-size: 40px;
}

.layout-main ul {
  display: flex;
  margin-left: 30px;
  list-style: none;
}

.layout-main li {
  margin: 30px;
}
